nav.site-nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    background-color: rgb(16, 13, 34);
    color: white;

    li {
        display: inline-block;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 600px) {
    nav.site-nav {
        align-items: center;
        justify-content: center;
    }
}