@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* site defaults */

body {
    font-family: "Didact Gothic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    min-height: 100vh;
    background-image: linear-gradient(rgb(235, 236, 227), rgb(240, 240, 240));
    color: rgb(16, 13, 34);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    background-color: rgb(16, 13, 34);
    color: white;

    li {
        display: inline-block;
        padding: 0 1rem;
    }
}