@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lexend:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#resume {

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    color: rgb(90, 90, 90);

    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    h1 {
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings: "width" 100;
        color: cornflowerblue;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: normal;
        color: black;
    }

    a {
        color: #3068c4;
        text-decoration: underline;
        font-size: 0.7rem;
        font-weight: bolder;
        text-transform: lowercase;
    }

    /* section {
        border: 1px solid #e0e0e0;
    } */
}

@media screen and (max-width: 600px) {
    #resume {
        flex-direction: column;
        margin: 0.6rem;
    }
}

@media screen and (min-width: 600px) {
    #resume {
        margin: 32px;
        padding: 44px 28px;
        background-color: white;
        box-shadow: 8px 10px #818d82;
    }

}

@media print {
    nav {
        display: none !important;
    }

    @page {
        size: letter;
        margin: 20px;
    }

    div.page-break {
        break-after: page;
    }
}

#resume .info {

    flex: 4 0 70%;

    .name {
        font-family: "Lexend", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 2rem;
        color: black;
    }

}

#resume .contact {
    flex: 4 0 20%;
    font-size: 0.8rem;
}

#resume .links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

#resume .experiences {
    flex: 4 0 70%;

    .experience {
        margin: 16px 0;

        .title {
            font-weight: bolder;
        }

        .location {
            font-style: italic;
        }

        .dates {
            font-family: "Open Sans", serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "width" 100;
            font-size: small;
        }

        .description {
            font-size: small;
        }
    }
}

#resume .skills {
    flex: 4 0 20%;

    aside {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;

        section {
            h1 {
                margin-bottom: 1rem;
            }
        }
    }

    span.skill-pill {
        display: inline-block;
        padding: 4px 8px;
        margin: 4px;
        border-radius: 4px;
        color: white;
        background-color: rgb(44, 64, 102);
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-variation-settings: "width" 100;
        font-size: 0.6rem;
    }
}

#resume .education {
    flex: 4 0 70%;

    .course {
        margin: 16px 0;

        .title {
            font-weight: bolder;
        }

        .location {
            font-style: italic;
        }

        .dates {
            font-family: "Open Sans", serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings: "width" 100;
            font-size: small;
        }

        .description {
            font-size: small;
        }
    }
}