main {
    margin: 1.6rem;
}


article.post {
    margin-top: 1.4rem;
    margin-bottom: 2rem;

    .post-header {
        margin-bottom: 20px;
    }

    .post-content {
        font-size: 1.2rem;
        line-height: 1.6;

        p {
            margin-bottom: 1.6rem;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }
    }
}